<div class="container">
<h2>Account info</h2>
    <table class="table">
        <tr><td>Username:</td><td><%= user.username %></td></tr>
        <tr><td>Name:</td><td><%= user.name %></td></tr>
        <tr><td>Type:</td><td><%= user.type %></td></tr>
    </table>
</div>