<div class="container">
    <h2>Client Configuration</h2>
    <table class="table">
        <tr><td>Name</td><td><%= client.name %></td></tr>
        <tr><td>ID</td><td><%= client.clientId %></td></tr>
        <tr><td>Secret</td><td><%= client.clientSecret %></td></tr>
        <tr><td>Redirect URI</td><td><%= client.redirectURI %></td></tr>
    </table>
    This page is where you'll be able to configure one or more redirect URIs.
</div>