<!DOCTYPE html>
<html>
	<head>
		<title>RESO Web API Reference Server</title>
        <link rel="stylesheet" href="/bootstrap.min.css">
        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>
	</head>
	<body style="margin: 40px 0;">
    <div>
        <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="background: #486ba6;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">UtahRealEstate.com RESO Web API</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>

                    <ul class="nav navbar-nav navbar-right" id="navRight">

                        <li>
                            <img src="/ure-logo-sm.png" />
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->

            </div>

        </nav>
        <%- body %>
    </div>

	</body>
</html>
